@import url(https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700);
/* line 5, ../../../../../RailsInstaller/Ruby2.1.0/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../RailsInstaller/Ruby2.1.0/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../RailsInstaller/Ruby2.1.0/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../RailsInstaller/Ruby2.1.0/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../RailsInstaller/Ruby2.1.0/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../RailsInstaller/Ruby2.1.0/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../RailsInstaller/Ruby2.1.0/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../RailsInstaller/Ruby2.1.0/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../RailsInstaller/Ruby2.1.0/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: FuturaStdBoldCondensedOblique;
  src: url("../fonts/FuturaStdBoldCondensedOblique.ttf");
}
@font-face {
  font-family: FuturaStdLightCondensed;
  src: url("../fonts/FuturaStdLightCondensed.ttf");
}
@font-face {
  font-family: FuturaStdMediumCondensed;
  src: url("../fonts/FuturaStdMediumCondensed.ttf");
}
@font-face {
  font-family: MohaveBoldItalics;
  src: url("../fonts/MohaveBoldItalics.otf");
}
@font-face {
  font-family: MohaveSemiBold;
  src: url("../fonts/MohaveSemiBold.otf");
}
@font-face {
  font-family: MohaveSemiBoldItalics;
  src: url("../fonts/MohaveSemiBoldItalics.otf");
}
/* line 43, ../sass/main.scss */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 47, ../sass/main.scss */
body {
  background-color: #1a2732;
}

/* line 53, ../sass/main.scss */
a {
  color: inherit !important;
  text-decoration: inherit !important;
}

/* line 89, ../sass/main.scss */
.container-nav {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;
  padding: 20px;
  font-family: FuturaStdLightCondensed, sans-serif;
  font-size: 18px;
  letter-spacing: .12em;
}
/* line 100, ../sass/main.scss */
.container-nav .nav {
  color: white !important;
  position: relative;
  float: left;
  margin-right: 30px;
  text-decoration: none;
  transition: .25s;
}
/* line 108, ../sass/main.scss */
.container-nav .nav a {
  opacity: .4;
  text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.8);
  text-transform: uppercase;
}
/* line 116, ../sass/main.scss */
.container-nav .nav.disabled a {
  cursor: default !important;
  opacity: .6 !important;
}
/* line 120, ../sass/main.scss */
.container-nav .nav.disabled a:hover {
  opacity: .6 !important;
}
/* line 129, ../sass/main.scss */
.container-nav .nav.active a {
  opacity: 1;
}
/* line 136, ../sass/main.scss */
.container-nav .nav.active:hover a {
  opacity: 1;
}
/* line 145, ../sass/main.scss */
.container-nav .nav:hover a {
  opacity: .75;
}
/* line 155, ../sass/main.scss */
.container-nav .nav.coming-soon:after {
  display: block;
  position: absolute;
  content: "Coming Soon";
  font-size: 12px;
  background-color: rgba(113, 35, 49, 0.8);
  color: white;
  top: 0;
  left: 0;
  line-height: 1.5em;
  width: 100%;
  text-transform: uppercase;
  text-align: center;
  transform: rotate(-4deg);
  border-radius: 2px;
  -moz-box-shadow: 0px 0px 10px 0 rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 0px 0px 10px 0 rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 10px 0 rgba(0, 0, 0, 0.75);
  text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.2);
}

/* line 178, ../sass/main.scss */
.border-white {
  position: absolute;
  width: 100%;
  height: 100%;
  display: block;
  border: 1px solid white;
  opacity: .1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 5;
}

/* line 193, ../sass/main.scss */
.container-fight {
  width: 100%;
  display: block;
  height: 100%;
  position: relative;
  float: left;
  background-color: #1a2732;
}
/* line 202, ../sass/main.scss */
.container-fight .fighter {
  width: 55%;
  overflow: hidden;
  height: 100%;
  position: absolute;
  float: left;
  background-color: #1a2732;
  cursor: pointer;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
/* line 217, ../sass/main.scss */
.container-fight .fighter .container-image-fighter, .container-fight .fighter .container-gradient-fighter {
  width: 100%;
  height: 100%;
  position: absolute;
  display: block;
}
/* line 225, ../sass/main.scss */
.container-fight .fighter .container-image-fighter {
  z-index: 1;
  background-position: center;
  background-size: cover;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transition: all .2s;
  transform: scale(1);
  opacity: .1;
  filter: gray;
  -webkit-filter: grayscale(100%);
  filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='grayscale'><feColorMatrix type='matrix' values='0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0'/></filter></svg>#grayscale");
  filter: grayscale(100%);
}
/* line 241, ../sass/main.scss */
.container-fight .fighter .container-gradient-fighter {
  width: 100%;
  height: 50%;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
  opacity: .75;
  background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjEuMCIgeDI9IjAuNSIgeTI9IjAuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwLjAiLz48L2xpbmVhckdyYWRpZW50PjwvZGVmcz48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiBmaWxsPSJ1cmwoI2dyYWQpIiAvPjwvc3ZnPiA=');
  background: -webkit-gradient(linear, 50% 100%, 50% 0%, color-stop(0%, #000000), color-stop(100%, rgba(0, 0, 0, 0)));
  background: -moz-linear-gradient(bottom, #000000, rgba(0, 0, 0, 0));
  background: -webkit-linear-gradient(bottom, #000000, rgba(0, 0, 0, 0));
  background: linear-gradient(to top, #000000, rgba(0, 0, 0, 0));
}
/* line 253, ../sass/main.scss */
.container-fight .fighter .container-cover-fighter {
  width: 300px;
  height: 400px;
  display: block;
  position: relative;
  margin: auto;
  z-index: 3;
  -moz-box-shadow: 0px 0px 100px 0 rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 0px 0px 100px 0 rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 100px 0 rgba(0, 0, 0, 0.75);
}
/* line 263, ../sass/main.scss */
.container-fight .fighter .container-cover-fighter .name-fighter {
  font-family: MohaveBoldItalics, sans-serif;
  font-size: 30px;
  color: white;
  line-height: 30px;
  text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.25);
  position: absolute;
  z-index: 5;
  text-align: center;
  height: 30px;
  width: 250%;
  margin-left: -75%;
}
/* line 277, ../sass/main.scss */
.container-fight .fighter .container-cover-fighter .name-fighter > span {
  display: inline-block;
  line-height: 1.2em;
}
/* line 283, ../sass/main.scss */
.container-fight .fighter .container-cover-fighter .cover-fighter {
  width: 100%;
  height: 100%;
  display: block;
  background-size: cover;
  background-position: center;
}
/* line 302, ../sass/main.scss */
.container-fight .fighter.fighter-left {
  -webkit-clip-path: polygon(0 0, 0 100%, 82% 100%, 100% 0);
  -moz-clip-path: polygon(0 0, 0 100%, 82% 100%, 100% 0);
  -ms-clip-path: polygon(0 0, 0 100%, 82% 100%, 100% 0);
  clip-path: polygon(0 0, 0 100%, 82% 100%, 100% 0);
  left: 0;
  z-index: 2;
}
/* line 310, ../sass/main.scss */
.container-fight .fighter.fighter-left .container-cover-fighter .name-fighter {
  top: -45px;
}
/* line 314, ../sass/main.scss */
.container-fight .fighter.fighter-left .container-cover-fighter .name-fighter > span {
  vertical-align: bottom;
}
/* line 321, ../sass/main.scss */
.container-fight .fighter.fighter-right {
  left: 45%;
  z-index: 1;
}
/* line 328, ../sass/main.scss */
.container-fight .fighter.fighter-right .container-cover-fighter .name-fighter {
  bottom: -45px;
}
/* line 336, ../sass/main.scss */
.container-fight .container-separator {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 10%;
  left: 45%;
  z-index: 9;
}
/* line 347, ../sass/main.scss */
.container-fight .container-separator .separator {
  pointer-events: none;
  width: 2px;
  height: 100%;
  position: absolute;
  top: 0;
  left: -3px;
  bottom: 0;
  z-index: 1;
}
/* line 359, ../sass/main.scss */
.container-fight .container-separator .versus {
  font-family: MohaveBoldItalics, sans-serif;
  font-size: 48px;
  color: white;
  height: 50px;
  width: 100%;
  line-height: 50px;
  text-align: center;
  position: absolute;
  top: 50%;
  margin-top: -25px;
  z-index: 2;
}
/* line 374, ../sass/main.scss */
.container-fight .container-separator .button-none {
  position: absolute;
  top: calc(50% + 30px);
  width: 100%;
  color: rgba(255, 255, 255, 0.8);
}
/* line 380, ../sass/main.scss */
.container-fight .container-separator .button-none strong {
  font-family: FuturaStdMediumCondensed, sans-serif;
  font-size: 14px;
  color: white;
  letter-spacing: .2em;
}

/* line 391, ../sass/main.scss */
.container-toolbar {
  font-family: "Open Sans Condensed", sans-serif;
  font-weight: 300;
  font-size: 18px;
  background-color: #E9E9E9;
  color: #222;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  display: block;
  height: 40px;
  line-height: 40px;
  z-index: 10;
  display: none;
}
/* line 408, ../sass/main.scss */
.container-toolbar .container-user {
  height: 100%;
  width: 400px;
  background-color: #222;
  color: #EEE;
  padding: 0 20px;
  position: relative;
  float: left;
  display: block;
}
/* line 419, ../sass/main.scss */
.container-toolbar .container-user .part {
  width: 50%;
  text-align: center;
  line-height: 30px;
  height: 30px;
  position: relative;
  float: left;
  margin: 5px 0;
}
/* line 429, ../sass/main.scss */
.container-toolbar .container-user .part.part-points {
  color: #6B9CAF;
  font-size: 21px;
  border-right: 1px solid rgba(255, 255, 255, 0.15);
}
/* line 435, ../sass/main.scss */
.container-toolbar .container-user .part.part-points:after {
  content: ' PTS';
  color: inherit;
  font-size: 16px;
}
/* line 443, ../sass/main.scss */
.container-toolbar .container-user .part.part-level {
  font-size: 16px;
}
/* line 447, ../sass/main.scss */
.container-toolbar .container-user .part.part-level .container-progress-level {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.1);
}
/* line 460, ../sass/main.scss */
.container-toolbar .container-nav {
  height: 100%;
  width: auto;
  position: relative;
  float: left;
  display: block;
}
/* line 469, ../sass/main.scss */
.container-toolbar .container-nav .nav {
  cursor: pointer;
  width: 200px;
  height: 100%;
  font-size: 14px;
  position: relative;
  float: left;
  border-right: 1px solid rgba(0, 0, 0, 0.05);
  display: block;
  text-align: center;
}
/* line 481, ../sass/main.scss */
.container-toolbar .container-nav .nav.active {
  background-color: #6B9CAF;
  color: white;
  font-weight: bold;
}
/* line 487, ../sass/main.scss */
.container-toolbar .container-nav .nav.active:after {
  content: ' ';
  width: 10px;
  height: 10px;
  background-color: inherit;
  position: absolute;
  top: -5px;
  left: 50%;
  margin-left: -5px;
  display: block;
  z-index: 3;
}
/* line 502, ../sass/main.scss */
.container-toolbar .container-nav .nav:not(.active):hover {
  background-color: #bed3dc;
}

/* line 510, ../sass/main.scss */
.container-top {
  margin-top: 55px;
}
/* line 514, ../sass/main.scss */
.container-top .container-game {
  width: 100%;
  position: relative;
  float: left;
  height: 150px;
  padding: 20px 50px;
}
/* line 522, ../sass/main.scss */
.container-top .container-game .container-cover-game {
  width: 80px;
  height: 110px;
  position: relative;
  float: left;
  display: block;
  z-index: 4;
  -moz-box-shadow: 0px 0px 20px 0 rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0px 0px 20px 0 rgba(0, 0, 0, 0.5);
  box-shadow: 0px 0px 20px 0 rgba(0, 0, 0, 0.5);
}
/* line 532, ../sass/main.scss */
.container-top .container-game .container-cover-game .cover-game {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
}
/* line 541, ../sass/main.scss */
.container-top .container-game .container-informations-game {
  width: calc(50% - 80px);
  height: 100%;
  padding-left: 20px;
  color: white;
  line-height: 1em;
  display: block;
  position: relative;
  float: left;
  z-index: 4;
}
/* line 555, ../sass/main.scss */
.container-top .container-game .container-informations-game .informations-game .information-game {
  margin-bottom: 5px;
}
/* line 559, ../sass/main.scss */
.container-top .container-game .container-informations-game .informations-game .information-game.name-game {
  text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.5);
  font-size: 30px;
  line-height: 30px;
  font-family: MohaveBoldItalics, sans-serif;
}
/* line 566, ../sass/main.scss */
.container-top .container-game .container-informations-game .informations-game .information-game.platforms-game {
  opacity: .6;
  font-size: 10px;
  line-height: 10px;
  font-family: MohaveSemiBold, sans-serif;
}
/* line 573, ../sass/main.scss */
.container-top .container-game .container-informations-game .informations-game .information-game.release-game {
  opacity: .4;
  font-size: 14px;
  line-height: 14px;
  font-family: MohaveSemiBold, sans-serif;
}
/* line 584, ../sass/main.scss */
.container-top .container-game .container-informations-rank {
  width: 50%;
  height: 110px;
  display: block;
  position: relative;
  float: left;
  color: white;
  z-index: 4;
}
/* line 594, ../sass/main.scss */
.container-top .container-game .container-informations-rank .container-rank {
  font-family: FuturaStdBoldCondensedOblique, sans-serif;
  border: 3px solid white;
  font-size: 36px;
  height: 110px;
  width: 110px;
  line-height: 110px;
  text-align: center;
  position: relative;
  float: left;
  font-variant: small-caps;
}
/* line 608, ../sass/main.scss */
.container-top .container-game .container-informations-rank .informations-rank {
  width: calc(100% - 110px);
  height: 100%;
  border: 1px solid rgba(255, 255, 255, 0.15);
  border-left: none;
  padding: 20px;
  display: block;
  position: relative;
  float: left;
}
/* line 619, ../sass/main.scss */
.container-top .container-game .container-informations-rank .informations-rank .informations-line {
  width: 100%;
  height: 50%;
  position: relative;
  float: left;
  display: block;
  font-size: 14px;
  margin-bottom: 5px;
}
/* line 629, ../sass/main.scss */
.container-top .container-game .container-informations-rank .informations-rank .informations-line .information {
  height: 100%;
  width: 33.3333%;
  display: block;
  position: relative;
  float: left;
  text-transform: uppercase;
  letter-spacing: .12em;
}
/* line 639, ../sass/main.scss */
.container-top .container-game .container-informations-rank .informations-rank .informations-line .information .information-value, .container-top .container-game .container-informations-rank .informations-rank .informations-line .information .information-label {
  width: 100%;
  display: block;
  clear: both;
}
/* line 646, ../sass/main.scss */
.container-top .container-game .container-informations-rank .informations-rank .informations-line .information .information-value {
  margin-bottom: 2px;
  font-family: FuturaStdMediumCondensed, sans-serif;
  line-height: 14px;
}
/* line 653, ../sass/main.scss */
.container-top .container-game .container-informations-rank .informations-rank .informations-line .information .information-label {
  font-size: 12px;
  font-family: FuturaStdLightCondensed, sans-serif;
  opacity: .15;
  line-height: 12px;
}
/* line 665, ../sass/main.scss */
.container-top .container-game .container-gradient-game-left {
  background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuMCIgeTE9IjAuNSIgeDI9IjEuMCIgeTI9IjAuNSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzFhMjczMiIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzFhMjczMiIgc3RvcC1vcGFjaXR5PSIwLjAiLz48L2xpbmVhckdyYWRpZW50PjwvZGVmcz48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiBmaWxsPSJ1cmwoI2dyYWQpIiAvPjwvc3ZnPiA=');
  background: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, #1a2732), color-stop(100%, rgba(26, 39, 50, 0)));
  background: -moz-linear-gradient(left, #1a2732, rgba(26, 39, 50, 0));
  background: -webkit-linear-gradient(left, #1a2732, rgba(26, 39, 50, 0));
  background: linear-gradient(to right, #1a2732, rgba(26, 39, 50, 0));
  width: 100%;
  z-index: 2;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: block;
  opacity: .75;
}
/* line 680, ../sass/main.scss */
.container-top .container-game .container-gradient-game-bottom {
  background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjEuMCIgeDI9IjAuNSIgeTI9IjAuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwLjAiLz48L2xpbmVhckdyYWRpZW50PjwvZGVmcz48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiBmaWxsPSJ1cmwoI2dyYWQpIiAvPjwvc3ZnPiA=');
  background: -webkit-gradient(linear, 50% 100%, 50% 0%, color-stop(0%, #000000), color-stop(100%, rgba(0, 0, 0, 0)));
  background: -moz-linear-gradient(bottom, #000000, rgba(0, 0, 0, 0));
  background: -webkit-linear-gradient(bottom, #000000, rgba(0, 0, 0, 0));
  background: linear-gradient(to top, #000000, rgba(0, 0, 0, 0));
  width: 100%;
  z-index: 3;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: block;
  opacity: .10;
}
/* line 695, ../sass/main.scss */
.container-top .container-game .container-background-game {
  width: 100%;
  z-index: 1;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: block;
  opacity: .10;
  filter: gray;
  -webkit-filter: grayscale(100%);
  filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='grayscale'><feColorMatrix type='matrix' values='0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0'/></filter></svg>#grayscale");
  filter: grayscale(100%);
  background-size: cover;
  background-position: center;
}

/* line 714, ../sass/main.scss */
.button-blue {
  background-color: rgba(9, 13, 16, 0.5);
  color: white;
  font-family: FuturaStdLightCondensed, sans-serif;
  letter-spacing: .12em;
  font-size: 12px;
  line-height: 1.2em;
  text-align: center;
  padding: 7px 10px;
  text-transform: uppercase;
  cursor: pointer;
  position: relative;
  -moz-box-shadow: 0px 0px 10px 0 rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: 0px 0px 10px 0 rgba(0, 0, 0, 0.25);
  box-shadow: 0px 0px 10px 0 rgba(0, 0, 0, 0.25);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom-width: 2px;
  transform: scale(1);
  transition: .25s all ease;
}
/* line 733, ../sass/main.scss */
.button-blue:hover {
  transform: scale(1.1);
  background-color: rgba(5, 8, 10, 0.5);
  border-color: rgba(0, 0, 0, 0.1);
}

/* line 741, ../sass/main.scss */
footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100px;
  background-color: rgba(17, 26, 33, 0.25);
  color: white;
  font-family: FuturaStdMediumCondensed, sans-serif;
  font-size: 10px;
  letter-spacing: .3em;
  text-align: center;
  padding: 10px 50px;
  z-index: 10;
  text-transform: uppercase;
}
/* line 759, ../sass/main.scss */
footer #container-community-unlock-progress {
  width: 100%;
  position: relative;
  display: block;
  height: 20px;
}
/* line 766, ../sass/main.scss */
footer #container-community-unlock-progress .community-unlock-progress {
  width: 100%;
  position: relative;
  float: left;
  display: block;
  height: 10px;
}
/* line 774, ../sass/main.scss */
footer #container-community-unlock-progress .community-unlock-progress .progress-bar {
  background-color: rgba(255, 255, 255, 0.5);
  width: 100%;
  height: 100%;
  position: relative;
  float: left;
  margin-top: 10px;
}
/* line 783, ../sass/main.scss */
footer #container-community-unlock-progress .community-unlock-progress .progress-bar .fill-progress-bar {
  background-color: #1a2732;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  display: block;
  width: 1%;
  transition: .15s;
}
