<div class="container-fight">
    <div class="container-loading" ng-show="isBusy">
        <span class="text">Chargement..</span>
    </div>
    <div class="container-separator">
        <div class="separator"></div>
        <div class="versus">VS</div>
        <div class="button-none button-blue" ng-click="voteFor('none');">
            <strong>Aucun des deux</strong>
            <br />
            Je n'arrive pas a decider
        </div>
    </div>
    <div class="fighter fighter-left" ng-click="voteFor('left');">
        <div class="container-cover-fighter">
            <span class="name-fighter">{{fight.gameLeft.name}} ({{fight.gameLeft.year}})</span>
            <div class="border-white cover-border"></div>
            <div class="cover-fighter" back-img = 'fight.gameLeft.url_cover'></div>
        </div>
        <div class="container-gradient-fighter"></div>
        <div class="container-image-fighter" back-img="fight.gameLeft.url_image"></div>
    </div>
    <div class="fighter fighter-right" ng-click="voteFor('right');">
        <div class="container-cover-fighter">
            <span class="name-fighter">{{fight.gameRight.name}} ({{fight.gameRight.year}})</span>
            <div class="border-white cover-border"></div>
            <div class="cover-fighter" back-img="fight.gameRight.url_cover"></div>
        </div>
        <div class="container-gradient-fighter"></div>
        <div class="container-image-fighter" back-img="fight.gameRight.url_image"></div>
    </div>
</div>