<div class="container-leaderboards">
    <div class="container-leaderboard container-leaderboard-all container-module">
        <div class="container-gradient-module"></div>
        <div class="container-header-module">
            <span class="title-module">Leaderboard</span>
            <span class="information-module">Depuis le début</span>
        </div>
        <div class="content-module content-leaderboard">
            <div class="container-user-leaderboard" ng-repeat="line in leaderboards.all.content track by $index">
                <div class="container-informations-user-leaderboard">
                    <ul>
                        <li class="information-user-leaderboard information-name-user-leaderboard">
                            <a href = "{{line.user.url_profile}}">
                                {{line.user.name}}
                            </a>
                        </li>
                        <li class="information-user-leaderboard information-points-user-leaderboard">{{line.points_period | number}} pts</li>
                    </ul>
                </div>
                <div class="container-rank-user">
                    <span class="rank-user">{{$index + 1}}</span>
                </div>
            </div>
        </div>
    </div>

    <div class="container-leaderboard container-leaderboard-month container-module">
        <div class="container-gradient-module"></div>
        <div class="container-header-module">
            <span class="title-module">Leaderboard</span>
            <span class="information-module">Ce mois-ci</span>
        </div>
        <div class="content-module content-leaderboard">
            <div class="container-user-leaderboard" ng-repeat="line in leaderboards.month.content track by $index">
                <div class="container-informations-user-leaderboard">
                    <ul>
                        <li class="information-user-leaderboard information-name-user-leaderboard">
                            <a href = "{{line.user.url_profile}}">
                                {{line.user.name}}
                            </a>
                        </li>
                        <li class="information-user-leaderboard information-points-user-leaderboard">+{{line.points_period | number}} pts</li>
                    </ul>
                </div>
                <div class="container-rank-user">
                    <span class="rank-user">{{$index + 1}}</span>
                </div>
            </div>
        </div>
    </div>

    <div class="container-leaderboard container-leaderboard-week container-module">
        <div class="container-gradient-module"></div>
        <div class="container-header-module">
            <span class="title-module">Leaderboard</span>
            <span class="information-module">Cette semaine</span>
        </div>
        <div class="content-module content-leaderboard">
            <div class="container-user-leaderboard" ng-repeat="line in leaderboards.week.content track by $index">
                <div class="container-informations-user-leaderboard">
                    <ul>
                        <li class="information-user-leaderboard information-name-user-leaderboard">
                            <a href = "{{line.user.url_profile}}">
                                {{line.user.name}}
                            </a>
                        </li>
                        <li class="information-user-leaderboard information-points-user-leaderboard">+{{line.points_period | number}} pts</li>
                    </ul>
                </div>
                <div class="container-rank-user">
                    <span class="rank-user">{{$index + 1}}</span>
                </div>
            </div>
        </div>
    </div>

    <div class="container-leaderboard container-leaderboard-today container-module">
        <div class="container-gradient-module"></div>
        <div class="container-header-module">
            <span class="title-module">Leaderboard</span>
            <span class="information-module">Aujourd'hui</span>
        </div>
        <div class="content-module content-leaderboard">
            <div class="container-user-leaderboard" ng-repeat="line in leaderboards.today.content track by $index">
                <div class="container-informations-user-leaderboard">
                    <ul>
                        <li class="information-user-leaderboard information-name-user-leaderboard">
                            <a href = "{{line.user.url_profile}}">
                                {{line.user.name}}
                            </a>
                        </li>
                        <li class="information-user-leaderboard information-points-user-leaderboard">+{{line.points_period | number}} pts</li>
                    </ul>
                </div>
                <div class="container-rank-user">
                    <span class="rank-user">{{$index + 1}}</span>
                </div>
            </div>
        </div>
    </div>
</div>