<div class="container-profile">
    <div class="container-top-profile">
        <div class="container-picture-profile">
            <div class="border-white"></div>
            <img src = "https://unsplash.it/100" alt = "Votre photo de profil"/>
        </div>
        <div class="container-name-profile">
            <span class="name-profile">John Doe</span>
            <span class="container-bio-profile">Homme polyvalent et créateur de GameMash.</span>
        </div>
        <div class="container-stats-profile">
            <ul>
                <li class="stat-profil stat-profil-points">
                    <icon></icon>
                    1,290 points
                </li>
                <li class="stat-profil stat-profil-followers">
                    <icon></icon>
                    12 abonnés
                </li>
                <li class="stat-profil stat-profil-votes">
                    <icon></icon>
                    12,908 votes
                </li>
                <li class="stat-profil stat-profil-location">
                    <icon></icon>
                    Nancy, France
                </li>
            </ul>
        </div>
        <div class="container-actions-profile">
            <div class="button-action button-action-follow active button-blue dark">Suivre</div>
        </div>
        <div class="container-gradient-top-profile"></div>
        <div class="container-background-image-profile" style="background-image: url('https://unsplash.it/2000');"></div>
    </div>
</div>