<div class="container-profile">
    <div class="container-top-profile">
        <div class="container-picture-profile">
            <div class="border-white"></div>
            <img src = "https://unsplash.it/100" alt = "Votre photo de profil"/>
        </div>
        <div class="container-name-profile">
            <span class="name-profile">{{profile.name}}</span>
            <span class="container-bio-profile">{{profile.biography}}</span>
        </div>
        <div class="container-stats-profile">
            <ul>
                <li class="stat-profil stat-profil-points">
                    <i class="fa fa-diamond"></i>
                    {{profile.points | number}} points
                </li>
                <li class="stat-profil stat-profil-followers">
                    <i class="fa fa-hand-spock-o"></i>
                    {{profile.nb_followers | number}} abonnés
                </li>
                <li class="stat-profil stat-profil-votes">
                    <i class="fa fa-paper-plane"></i>
                    {{profile.nb_votes | number}} votes
                </li>
                <li class="stat-profil stat-profil-location">
                    <i class="fa fa-map-marker"></i>
                    {{profile.location}}
                </li>
            </ul>
        </div>
        <div class="container-actions-profile">
            <div class="button-action button-action-follow active button-blue">
                <i class="fa fa-hand-spock-o"></i>
                Suivre
            </div>
        </div>
        <div class="container-gradient-top-profile"></div>
        <div class="container-background-image-profile" style="background-image: url('https://unsplash.it/2000');"></div>
    </div>
    <div class="container-content-profile">
        <div class="container-last-votes container-module">
            <div class="container-gradient-module"></div>
            <div class="container-header-module">
                <span class="title-module">Derniers votes</span>
                <span class="information-module">{{profile.nb_votes | number}} votes</span>
            </div>
            <div class="content-module content-last-votes">
                <div class="container-vote" ng-repeat="line in last_votes track by $index">
                    <span class="text-vote">
                        <em>{{line.game_winner.name || line.gameLeft.name}}</em> {{line.is_winner === true ? "gagner contre" : "fait une égalité face à"}} <em>{{line.game_looser.name || line.gameRight.name}}</em>
                    </span>
                    <div class="container-gradient-vote"></div>
                    <div class="container-background-vote" style=" background-image: url('{{line.game_winner.url_cover || line.gameLeft.url_cover}}');"></div>
                </div>
            </div>
        </div>
    </div>
</div>