<div class="container-loading" ng-show="isBusy || !canSee">
    <span class="text">{{error}}</span>
</div>
<div class="container-top" ng-if='canSee' infinite-scroll="top.nextPage()" infinite-scroll-disable="top.busy || top.limitReached" infinite-scroll-distance="1">
    <span class="vote-statistics" ng-show="nb_votes">Classement bas&eacute; sur {{nb_votes | number}} votes</span>
    <div class="container-game" ng-repeat="game in top.games track by $index">
        <div class="container-cover-game">
            <div class="border-white cover-border"></div>
            <div class="cover-game" back-img="game.url_cover"></div>
        </div>
        <div class="container-informations-game">
            <ul class="informations-game">
                <li class="information-game name-game">{{game.name}}</li>
                <li class="information-game platforms-game">{{game.platforms_string}}</li>
                <li class="information-game release-game">{{game.release_date}}</li>
            </ul>
        </div>
        <div class="container-informations-rank">
            <div class="container-rank">
                {{game.rank}}
            </div>
            <div class="informations-rank">
                <div class="informations-line">
                    <div class="information">
                        <span class="information-value">{{game.current_elo | number}}</span>
                        <span class="information-label">Classement_ELO</span>
                    </div>
                    <div class="information">
                        <span class="information-value">{{game.elo_performance | setDecimal : 1}}%</span>
                        <span class="information-label">Performance_ELO</span>
                    </div>
                    <div class="information">
                        <span class="information-value">{{game.nb_matchs | number}}</span>
                        <span class="information-label">Matchs_totaux</span>
                    </div>
                </div>
                <div class="informations-line">
                    <div class="information">
                        <span class="information-value">{{game.nb_matchs_won | number}}</span>
                        <span class="information-label">Matchs_Gagn&eacute;s</span>
                    </div>
                    <div class="information">
                        <span class="information-value">{{game.nb_matchs_lost | number}}</span>
                        <span class="information-label">Matchs_Perdus</span>
                    </div>
                    <div class="information">
                        <span class="information-value">{{game.nb_matchs_draw | number}}</span>
                        <span class="information-label">Egalit&eacute;s</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-gradient-game-bottom"></div>
        <div class="container-gradient-game-left"></div>
        <div class="container-background-game" back-img="game.url_image"></div>
    </div>
</div>